.footer{
    position:relative;
    margin-top:8vh;
    height:8vh;
    background-color: #000000;
    color:grey;
}
.footer h5{
    position:absolute;
    bottom:0;
    right:0;
}
@media only screen and (max-height: 850px)  {
    .footer h5{
        position:relative;
        text-align: center;
    }
}
@media only screen and (max-width:500px)  {
    .footer h5{
        position:relative;
        text-align: center;
    }
}